body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../../TemplateData/WelcomeBackground.png);
  color: ghostwhite;
}

a {
  color: #00B7FF;
}

.help-block,
.ng.invalid,
.ng.valid  {
  font-size: 16px;
  font-weight: 500;
}

.ng.invalid {
  color: red;
}

.ng.valid {
  color: limegreen;
}

.button-center{
  padding: 10px;
}

.landing-button {
  width: 70%;
  display: block;
  margin: 40px auto;
  clear: left;
}