<!DOCTYPE html>
<html ng-app="nodeLogin">
  <head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/TemplateData/favicon.ico"/>
    <link rel="stylesheet" href="/Public/stylesheets/style.css">
  </head>
  <body ng-controller="mainController">
    <div class="container">
        <div class="header">
          <div class="left-div">
            <h1>User Login</h1>
            <p>Not registered yet? Click <a ng-click="redirect()"> here</a></p>
          </div>
          <div class="right-div">
            <img class="logo-right" src="../../TemplateData/eCivix_Logo_Election_Sim.png" />
          </div>
          <div class="below-div">
            <hr>
            <h1 class="lead">Please enter your details</h1>
          </div>
        </div>
        <div class="login-form">
          <form name="LoginForm" method="post">
            <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : LoginForm.log_username.$dirty && LoginForm.log_username.$invalid || LoginForm.log_username.$untouched }">
              <label>Username:</label>
              <input type="text" name="log_username" class="form-control input-lg" placeholder="Enter username..." ng-model="formData.username"
                ng-maxlength="40" required>
              <div class="help-block" ng-messages="RegistrationForm.reg_username.$error">
                <p ng-show="LoginForm.log_username.$error.required">Username is required</p>
              </div>
            </div>

            <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : LoginForm.log_user_password.$dirty && LoginForm.log_user_password.$invalid || LoginForm.log_user_password.$untouched }">
              <label>Password:</label>
              <input type="password" name="log_user_password" class="form-control input-lg" placeholder="Enter password..." ng-model="formData.password"
                ng-minlength="4" ng-maxlength="12" required> </br>
              <div class="help-block" ng-messages="RegistrationForm.reg_user_password.$error" >
                <p ng-show="LoginForm.log_user_password.$error.required">Password name is required</p>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"
                    ng-disabled="LoginForm.log_username.$invalid || LoginForm.log_user_password.$invalid"
                    ng-click="loginUser()">Login!
            </button>
          </form>
        </div>
      </div>
    <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
    <script src="/Public/javascript/controller.js"></script>
  </body>
</html>