<!DOCTYPE html>
<html ng-app="nodeRegistration">
  <head>
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/TemplateData/favicon.ico"/>
    <link rel="stylesheet" href="/Public/stylesheets/style.css">
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="header">
        <h1>User Registration</h1>
        <p> Already registered? Please login <a ng-click="redirect()">here</a>
        <hr>
        <h1 class="lead">Please enter your details</h1>
      </div>
      <div class="user-form">
        <form name="RegistrationForm" method="post">
          <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : RegistrationForm.reg_username.$touched && RegistrationForm.reg_username.$invalid || RegistrationForm.reg_username.$untouched }">
            <label>Username:</label> 
            <input type="text" name="reg_username" class="form-control input-lg" placeholder="Enter username..." ng-model="formData.username"
              ng-maxlength="40" required> </br>
            <div class="help-block" ng-messages="RegistrationForm.reg_username.$error">
              <p ng-show="RegistrationForm.reg_username.$error.required">Username is required</p>
              <p ng-show="RegistrationForm.reg_username.$error.maxlength">This field cannot be longer than 40 characters</p>
            </div>
          </div>

          <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : RegistrationForm.reg_fname.$touched && RegistrationForm.reg_fname.$invalid || RegistrationForm.reg_fname.$untouched }">
            <label>First name:</label>
            <input type="text" name="reg_fname" class="form-control input-lg" placeholder="Enter your first name" ng-model="formData.name"
                   ng-maxlength="40" required> </br>
            <div class="help-block" ng-messages="RegistrationForm.reg_fname.$error">
              <p ng-show="RegistrationForm.reg_fname.$error.required">First name is required</p>
              <p ng-show="RegistrationForm.reg_fname.$error.maxlength">This field cannot be longer than 40 characters</p>
            </div>
          </div>

          <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : RegistrationForm.reg_lname.$touched && RegistrationForm.reg_lname.$invalid || RegistrationForm.reg_lname.$untouched }">
            <label>Last name:</label>
            <input type="text" name="reg_lname" class="form-control input-lg" placeholder="Enter your first name" ng-model="formData.surname"
                   ng-maxlength="40" required> </br>
            <div class="help-block" ng-messages="RegistrationForm.reg_lname.$error">
              <p ng-show="RegistrationForm.reg_lname.$error.required">Last name is required</p>
              <p ng-show="RegistrationForm.reg_lname.$error.maxlength">This field cannot be longer than 40 characters</p>
            </div>
          </div>

          <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : RegistrationForm.reg_email.$touched && RegistrationForm.reg_email.$invalid || RegistrationForm.reg_email.$untouched }">
            <label>Email:</label>
            <input type="email" name="reg_email" class="form-control input-lg" placeholder="Enter your email address" ng-model="formData.email" required> </br>
            <div class="help-block" ng-messages="RegistrationForm.reg_email.$error">
              <p ng-show="RegistrationForm.reg_email.$error.required">Email address is required</p>
              <p ng-show="RegistrationForm.reg_email.$error.email">Invalid email address</p>
            </div>
          </div>

          <div style="padding-bottom:1em;" class="form-group" ng-class="{ 'has-error' : RegistrationForm.reg_user_password.$touched && RegistrationForm.reg_user_password.$invalid || RegistrationForm.reg_user_password.$untouched }">
            <label>Password:</label> 
            <input type="password" name="reg_user_password" class="form-control input-lg" placeholder="Enter password..." ng-model="formData.password"
              ng-minlength="4" ng-maxlength="12" required> </br>
            <div class="help-block" ng-messages="RegistrationForm.reg_user_password.$error" >
              <p ng-show="RegistrationForm.reg_user_password.$error.required">Password is required</p>
              <p ng-show="RegistrationForm.reg_user_password.$error.minlength">This field must contain at least 4 characters</p>
              <p ng-show="RegistrationForm.reg_user_password.$error.maxlength">Password can be at most 12 characters</p>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block"
                  ng-disabled="RegistrationForm.reg_username.$invalid || RegistrationForm.reg_fname.$invalid || RegistrationForm.reg_lname.$invalid || RegistrationForm.reg_email.$invalid || RegistrationForm.reg_user_password.$invalid"
                  ng-click="createUser()">Register!
          </button>
        </form>
      </div>
      <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
      <script src="/Public/javascript/controller.js"></script>
  </body>
</html>