@font-face{
		font-family:'RaspoutineClassic_TB';
		src: url('Fonts/RaspoutineClassic_TB.otf');
}
body{
	background-image: url(Images/WelcomeBackground.png);
	background-size: cover;

	font-family:'RaspoutineClassic_TB';
}

h3{
	color:#FFFFFF;
}